---
import PostTitle from "@components/PostTitle.astro";
import PostHeader from "@components/PostHeader.astro";
import WrittenLongAgo from "@components/WrittenLongAgo.astro";
import Layout from "@layouts/base.astro";
import Prose from "@components/Prose.astro";
import { getCollection } from "astro:content";
import DirectusBlocks from "@components/DirectusBlocks.astro";
import Content from "@components/Content.astro";

export async function getStaticPaths() {
  const writing = await getCollection("writing");
  const notes = await getCollection("notes");
  return [
    ...writing.map((item) => ({
      params: { slug: item.slug },
      props: { item, source: "astro" },
    })),
    ...notes.map((item) => ({
      params: { slug: item.data.slug },
      props: { item, source: "directus" },
    })),
  ];
}

const { item, source } = Astro.props;
const { date, title, subtitle } = item.data;
---

<Layout backTo="notes" pageTitle={title}>
  <PostHeader>
    <PostTitle>{title}</PostTitle>
    {subtitle && <h2>{subtitle}</h2>}
    <WrittenLongAgo date={date} server:defer>Loading...</WrittenLongAgo>
  </PostHeader>

  <Prose>
    {source === "astro" && <Content item={item} />}
    {source === "directus" && <DirectusBlocks item={item} />}
  </Prose>
</Layout>
