---
import Layout from "./_layout.astro";
import Photo01 from "./everything-is-fine/_everything-is-fine-01.jpg";
import Photo02 from "./everything-is-fine/_everything-is-fine-02.jpg";
import Photo03 from "./everything-is-fine/_everything-is-fine-03.jpg";
import Photo04 from "./everything-is-fine/_everything-is-fine-04.jpg";
import Photo06 from "./everything-is-fine/_everything-is-fine-06.jpg";
import Photo07 from "./everything-is-fine/_everything-is-fine-07.jpg";
import Photo08 from "./everything-is-fine/_everything-is-fine-08.jpg";
import Photo09 from "./everything-is-fine/_everything-is-fine-09.jpg";
import Photo11 from "./everything-is-fine/_everything-is-fine-11.jpg";
import Photo12 from "./everything-is-fine/_everything-is-fine-12.jpg";
import Photo13 from "./everything-is-fine/_everything-is-fine-13.jpg";
import Photo14 from "./everything-is-fine/_everything-is-fine-14.jpg";
import Photo15 from "./everything-is-fine/_everything-is-fine-15.jpg";
import Photo16 from "./everything-is-fine/_everything-is-fine-16.jpg";
import Photo17 from "./everything-is-fine/_everything-is-fine-17.jpg";
import Photo18 from "./everything-is-fine/_everything-is-fine-18.jpg";
import Photo19 from "./everything-is-fine/_everything-is-fine-19.jpg";
import Photo20 from "./everything-is-fine/_everything-is-fine-20.jpg";
import { Image } from "astro:assets";
---

<Layout
  pageTitle="Photography / Everything is fine"
  class="max-w-[30rem] mx-auto text-center"
>
  <h1>Everything is fine</h1>
  <Image src={Photo01} alt="" />
  <Image src={Photo02} alt="" />
  <Image src={Photo03} alt="" />
  <Image src={Photo04} alt="" />
  <Image src={Photo06} alt="" />
  <Image src={Photo07} alt="" />
  <Image src={Photo08} alt="" />
  <Image src={Photo09} alt="" />
  <Image src={Photo11} alt="" />
  <Image src={Photo12} alt="" />
  <Image src={Photo13} alt="" />
  <Image src={Photo14} alt="" />
  <Image src={Photo15} alt="" />
  <Image src={Photo16} alt="" />
  <Image src={Photo17} alt="" />
  <Image src={Photo18} alt="" />
  <Image src={Photo19} alt="" />
  <Image src={Photo20} alt="" />
</Layout>
