---
import { Image } from "astro:assets";
import Layout from "@layouts/base.astro";
import TOC from "@components/TOC.astro";
import Section from "@components/Section.astro";

import SelfPortraits from "./partials/_self-portraits.astro";
import SocialJustice from "./partials/_social-justice.astro";

// food
import Persian from "./food/_persian cookbook club_Nadav Spiegelman_073.jpg";
import Bread from "./food/_bread_Nadav Spiegelman_022.jpg";
import Macaron from "./food/_2024-09-28 yuhe cocusocial macaron class_Nadav Spiegelman_046.jpg";
import Class from "./food/_2024-09-28 yuhe cocusocial macaron class_Nadav Spiegelman_043.jpg";

// wyoming
import PowerPlant from "./wyoming/_wyoming-website-21.jpg";
import Riley from "./wyoming/_wyoming-website-20.jpg";
import Simon from "./wyoming/_wyoming-website-09.jpg";
import Train from "./wyoming/_wyoming-website-22.jpg";

// everything is fine
import Bus from "./everything-is-fine/_everything is fine_Nadav Spiegelman_029.jpg";
import Punch from "./everything-is-fine/_everything is fine_Nadav Spiegelman_034.jpg";
import Cops from "./everything-is-fine/_everything is fine_Nadav Spiegelman_037.jpg";
import Beggar from "./everything-is-fine/_everything is fine_Nadav Spiegelman_033.jpg";

// the streets speak
import FreePalestine from "./gaza-signs/_gaza signs_Nadav Spiegelman_023.jpg";
import EndTheGenocides from "./gaza-signs/_gaza signs_Nadav Spiegelman_024.jpg";

// artists
import AndyPortrait from "./andy-miller/_andy-miller-102.jpg";
import AndyStudio from "./andy-miller/_andy-miller-103.jpg";
import EricPlate from "./eric-goldberg/_eric-goldberg-1.jpg";
import EricPortrait from "./eric-goldberg/_eric-goldberg-7.jpg";

const createFragment = (text) => `#:~:text=${encodeURIComponent(text)}`;
const sections = [
  {
    href: createFragment("Social justice →"),
    caption: "Social justice",
  },
  {
    href: createFragment("Wyoming →"),
    caption: "Wyoming",
  },
  {
    href: createFragment("The streets speak →"),
    caption: "The streets speak",
  },
  {
    href: createFragment("Everything is fine →"),
    caption: "Everything is fine",
  },
  {
    href: createFragment("Artists →"),
    caption: "Artists",
  },
  {
    href: "#:~:text=more%20of%20%E2%80%9CArtists%E2%80%9D%20%E2%86%92-,Food",
    caption: "Food",
  },
];
---

<Layout pageTitle="Photography">
  <h1>Photography</h1>
  <TOC title="Collections" items={sections} />

  <SelfPortraits />
  <SocialJustice />

  <Section>
    <h2>
      <a href="/photography/wyoming">Wyoming →</a>
    </h2>
    <div class="grid grid-cols-2 gap-4">
      <Image sizes="50vw" src={Train} alt="" />
      <Image sizes="50vw" src={Riley} alt="" />
      <Image sizes="50vw" src={Simon} alt="" />
      <Image sizes="50vw" src={PowerPlant} alt="" />
    </div>
    <footer class="mt-8">
      <a href="/photography/wyoming">View more Wyoming photos →</a>
    </footer>
  </Section>

  <Section>
    <h2>
      <a href="/photography/the-streets-speak">The streets speak →</a>
    </h2>
    <div class="grid grid-cols-2 gap-4">
      <Image sizes="50vw" src={FreePalestine} alt="" />
      <Image sizes="50vw" src={EndTheGenocides} alt="" />
    </div>
    <footer class="mt-8">
      <a href="/photography/the-streets-speak"
        >View more of “The streets speak” →</a
      >
    </footer>
  </Section>

  <Section>
    <h2>
      <a href="/photography/everything-is-fine">Everything is fine →</a>
    </h2>
    <div class="grid grid-cols-2 gap-4">
      <Image sizes="50vw" src={Bus} alt="" />
      <Image sizes="50vw" src={Beggar} alt="" />
      <Image sizes="50vw" src={Punch} alt="" />
      <Image sizes="50vw" src={Cops} alt="" />
    </div>
    <footer class="mt-8">
      <a href="/photography/everything-is-fine"
        >View more of “Everything is fine” →</a
      >
    </footer>
  </Section>

  <Section>
    <h2>
      <a href="/photography/artists">Artists →</a>
    </h2>
    <div class="grid grid-cols-2 gap-4">
      <Image sizes="50vw" src={AndyPortrait} alt="" />
      <Image sizes="50vw" src={AndyStudio} alt="" />
      <Image sizes="50vw" src={EricPlate} alt="" />
      <Image sizes="50vw" src={EricPortrait} alt="" />
    </div>
    <footer class="mt-8">
      <a href="/photography/artists">View more of “Artists” →</a>
    </footer>
  </Section>

  <Section class="border-b-0">
    <h2>Food</h2>
    <div class="grid grid-cols-2 gap-4">
      <Image
        sizes="50vw"
        src={Persian}
        alt="Overhead shot of a Persian meal: a whole roast chicken, barbari bread, rice, feta cheese, nuts & herbs"
      />
      <Image sizes="50vw" src={Class} alt="" />
      <Image
        sizes="50vw"
        src={Bread}
        alt="Closeup shot of a darkly baked loaf of bread with another in the background"
        class="aspect-[4/5] object-cover object-top"
      />
      <Image
        sizes="50vw"
        src={Macaron}
        alt="A tray of macarons being put into a commercial oven"
      />
    </div>
  </Section>
</Layout>
