---
import Layout from "./_layout.astro";
import Prose from "@components/Prose.astro";
import { Image } from "astro:assets";

import Map from "./wyoming/_map-1882.jpg";
import Highway from "./wyoming/_wyoming-website-01.jpg";
import Jason from "./wyoming/_wyoming-website-02.jpg";
import Emptiness from "./wyoming/_wyoming-website-04.jpg";
import Dan from "./wyoming/_wyoming-website-05.jpg";
import Lasso from "./wyoming/_wyoming-website-06.jpg";
import DanExterior from "./wyoming/_wyoming-website-07.jpg";
import StainedGlass from "./wyoming/_wyoming-website-08.jpg";
import Simon from "./wyoming/_wyoming-website-09.jpg";
import AyresTree from "./wyoming/_wyoming-website-10.jpg";
import AyresRiver from "./wyoming/_wyoming-website-11.jpg";
import Cribbage from "./wyoming/_wyoming-website-13.jpg";
import Rose from "./wyoming/_wyoming-website-14.jpg";
import SynagogueExterior from "./wyoming/_wyoming-website-15.jpg";
import SynagogueShelf from "./wyoming/_wyoming-website-16.jpg";
import Spaceship from "./wyoming/_wyoming-website-17.jpg";
import Ranchers from "./wyoming/_wyoming-website-18.jpg";
import PrayerFence from "./wyoming/_wyoming-website-19.jpg";
import Riley from "./wyoming/_wyoming-website-20.jpg";
import PowerPlant from "./wyoming/_wyoming-website-21.jpg";
import Train from "./wyoming/_wyoming-website-22.jpg";
---

<Layout pageTitle="Photography / Wyoming" backTo="photography">
  <header class="mb-6 text-center">
    <h1 class="mb-0">Wyoming</h1>
    <h2 class="mb-6">Work in progress</h2>
  </header>

  <div class="grid gap-6 justify-center mb-12">
    <Prose>
      <figure>
        <Image src={Map} alt="Map of Wyoming" />
        <figcaption>
          <em>People's Cyclopedia of Universal Knowledge</em>, 1882.
          <a href="https://wyoshpo.wyo.gov/homestead/maps.html">
            View source
          </a>
        </figcaption>
      </figure>
    </Prose>
  </div>

  <div class="grid gap-12 justify-center xl:fullbleed xl:px-12">
    <Image src={Highway} alt="" class="" />

    <Image src={Jason} alt="" class="lg:max-w-[40rem] mx-auto" />
    <Image src={Emptiness} alt="" class="" />

    <div class="grid xl:grid-cols-7 gap-6 xl:mb-12 xl:items-end">
      <Image src={Dan} alt="" class="xl:col-span-4" />
      <Image src={Lasso} alt="" class="mt-12 xl:col-span-3 xl:mt-24" />
      <Image src={DanExterior} alt="" class="xl:col-span-4 xl:col-start-3" />
    </div>

    <div class="grid xl:grid-cols-3 gap-6 xl:mb-12 xl:items-end">
      <Image src={StainedGlass} alt="" class="xl:col-span-1" />
      <Image src={Simon} alt="" class="xl:col-span-2" />
    </div>

    <div class="grid gap-6 xl:grid-cols-6">
      <Image src={AyresTree} alt="" class="xl:col-span-3" />
      <Image src={AyresRiver} alt="" class="xl:col-span-3" />
      <Image src={Cribbage} alt="" class="xl:col-span-4 xl:col-start-2" />
    </div>

    <Image src={Rose} alt="" class="lg:max-w-[40rem] mx-auto" />

    <div class="grid gap-6 lg:grid-cols-3 lg:items-end">
      <Image src={SynagogueExterior} alt="" class="lg:col-span-2" />
      <Image src={SynagogueShelf} alt="" class="" />
    </div>

    <div class="grid gap-6 lg:grid-cols-2">
      <Image src={Spaceship} alt="" />
      <Image src={Ranchers} alt="" />
      <div class="grid lg:grid-cols-4 lg:col-span-2">
        <Image src={PrayerFence} alt="" class="lg:col-start-2 lg:col-span-2" />
      </div>
    </div>

    <Image src={Riley} alt="" class="lg:max-w-[40rem] mx-auto" />

    <Image src={PowerPlant} alt="" />
    <Image src={Train} alt="" class="" />
  </div>
</Layout>
