---
import { Image } from "astro:assets";
import Section from "@components/Section.astro";

import NoWarCriminals from "../social-justice/un-action/_2024-09-26 UN action_Nadav Spiegelman_032.jpg";
import BadInvestment from "../social-justice/israel-bonds/_2024-11-11 JVP cipriani picket_Nadav Spiegelman_035.jpg";
import Arrest from "../social-justice/nyse/_JVP 2024-10-14 NYSE_Nadav Spiegelman_188.jpg";
import NotAnotherBomb from "../social-justice/_2024-08-18 not another bomb nyc rally_0342.jpg";
import BenGvir10 from "../social-justice/ben-gvir-comes-to-midwood/10_2025-04-27_Z5A_7023_Nadav Spiegelman.jpg";
import Crucifix from "../social-justice/adl-protest/_2025-03-03 ADL protest INN_Nadav Spiegelman_098.jpg";
import Doge from "../social-justice/adl-protest/_2025-03-03 ADL protest INN_Nadav Spiegelman_097.jpg";
import SameHate from "../social-justice/adl-protest/_2025-03-03 ADL protest INN_Nadav Spiegelman_099.jpg";
---

<Section class="pb-4">
  <h2>
    <a href="/photography/social-justice">Social justice →</a>
  </h2>
  <div class="grid grid-cols-2 gap-4 mb-4">
    <Image
      sizes="50vw"
      src={BadInvestment}
      alt='Row of picketers led by an old woman carrying a sign that reads "genocide is a bad investment"'
    />
    <Image
      sizes="50vw"
      src={NoWarCriminals}
      alt='Protestors blocking a street with UN headquarters in the background, holding a sign that reads "No war criminals in NYC, stop the genocide!"'
    />
    <Image
      slot="banner"
      src={BenGvir10}
      alt="Man spills coffee on protestor wearing a keffiyeh and a face cover"
    />
    <Image
      sizes="50vw"
      src={Arrest}
      alt='Young woman wearing a shirt that reads "not in our name" getting arrested by NYPD officers'
    />
  </div>
  <div class="grid grid-cols-3 gap-4">
    <Image
      sizes="33vw"
      src={SameHate}
      alt='Woman with two stickers on her coat: "Antizionism is racism!", and an illustration of masked men carrying the flag of Palestine with a swastika superimposed on it'
    />
    <Image
      sizes="33vw"
      src={Doge}
      alt="Woman wearing a Make America Great Again hat and holding a sign"
    />
    <Image
      sizes="33vw"
      src={Crucifix}
      alt="Man with eyes closed, waving a flag, wearing an NYPD beanie, and holding a crucifix"
    />
  </div>
  <footer class="mt-8">
    <a href="/photography/social-justice">View more social justice photos →</a>
  </footer>
</Section>
