---
import Layout from "../_layout.astro";

import Fine029 from './_everything is fine_Nadav Spiegelman_029.jpg'
import Fine030 from './_everything is fine_Nadav Spiegelman_030.jpg'
import Fine031 from './_everything is fine_Nadav Spiegelman_031.jpg'
import Fine032 from './_everything is fine_Nadav Spiegelman_032.jpg'
import Fine033 from './_everything is fine_Nadav Spiegelman_033.jpg'
import Fine034 from './_everything is fine_Nadav Spiegelman_034.jpg'
import Fine035 from './_everything is fine_Nadav Spiegelman_035.jpg'
import Fine036 from './_everything is fine_Nadav Spiegelman_036.jpg'
import Fine037 from './_everything is fine_Nadav Spiegelman_037.jpg'
import Fine038 from './_everything is fine_Nadav Spiegelman_038.jpg'
import Fine039 from './_everything is fine_Nadav Spiegelman_039.jpg'
import Fine040 from './_everything is fine_Nadav Spiegelman_040.jpg'
import Fine041 from './_everything is fine_Nadav Spiegelman_041.jpg'
import Fine042 from './_everything is fine_Nadav Spiegelman_042.jpg'

import { Image } from "astro:assets";
---

<Layout
  pageTitle="Photography / Everything is fine"
  class="max-w-[30rem] mx-auto text-center"
>
  <h1>Everything is fine</h1>
  <Image src={Fine029} alt="" />
  <Image src={Fine030} alt="" />
  <Image src={Fine031} alt="" />
  <Image src={Fine032} alt="" />
  <Image src={Fine033} alt="" />
  <Image src={Fine034} alt="" />
  <Image src={Fine035} alt="" />
  <Image src={Fine036} alt="" />
  <Image src={Fine037} alt="" />
  <Image src={Fine038} alt="" />
  <Image src={Fine039} alt="" />
  <Image src={Fine040} alt="" />
  <Image src={Fine041} alt="" />
  <Image src={Fine042} alt="" />
</Layout>
