---
import WrittenLongAgo from "@components/WrittenLongAgo.astro";
import Layout from "@layouts/base.astro";
import Prose from "@components/Prose.astro";
import PostHeader from "@components/PostHeader.astro";
import PostTitle from "@components/PostTitle.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("media");
  return items.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await item.render();
const { category, date, title, titleTranslated, yearPublished } = item.data;
---

<Layout backTo="notes" pageTitle={title}>
  <PostHeader>
    <PostTitle>
      <span class="block">{title}</span>
      {titleTranslated}
    </PostTitle>
    <div class="flex gap-2">
      <WrittenLongAgo date={date} />
      ⋅
      <div>{yearPublished}, {category}</div>
    </div>
  </PostHeader>

  <Prose>
    <Content />
  </Prose>
</Layout>
